.navbar{
    background: #ccac0c !important;
}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #ff6347;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background: #ff6347;
    color:#fff;
}
.dropdown-menu a{
    color:#fff;
} 
.navbar .nav-item .nav-link{
    color: #ff6347 !important; 
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:rgb(232, 222, 222) !important;
    
}
.bgblue{
    background-color: #8f571f40 !important;
}